<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Login Here</h1>
    <div>
        <form action="/home" method="post">
            Username: <input type="text" name="txtuname" /><br>
            Password: <input type="password" name="txtpass"/>
            <input type="submit" value="Login"/>
        </form>
        <br><br>
    </div>

    <div>
        <form action="/signup" method="post">
            Username: <input type="text" name="txtuname" /><br>
            Password: <input type="password" name="txtpass"/><br>
            Email: <input type="email" name="txtemail"/><br>
            Phone: <input type="phone" name="txtphone"/><br>
                    <input type="submit" value="Signup"/>
        </form>
    </div>
</body>
</html>