.title-color{
    color:#d2691e;
    font-weight: bold;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }

.footer {
    background-color: #33b5e5;
    color: white;
    text-align: center;
}