<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Update</title>
</head>
<body>
    <form action="/emplist" method="POST">
        <select name="slt_emp">
            <% 
                if(data.length){
                    for(var i = 0; i < data.length; i++){ %>
                    <option value="<%= data[i].name %>"><%= data[i].name %></option>
            <%      } 
                }else{ %>
            <% } %>
        </select>
        <input type="submit" value="Update"/>
    </form>
</body>
</html>