       
    <section class="py-5">
            <div class="container">
            <div class="page-header" id="top">
                <h1>Services</h1>
            </div>
                <p class="lead">Register Here To Get Our Services!!</p>
                <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="uname">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="mobile">Mobile:</label>
                            <input type="text" class="form-control" id="mobile">
                        </div>
                        <div class="form-group">
                            <label for="dob">DOB:</label>
                            <input type="date" class="form-control" id="dob">
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender:</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="male" type="radio" value="male" class="form-check-input" name="gender" checked="checked">Male
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="female" type="radio" value="female" class="form-check-input" name="gender">Female
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="place">Place:</label>
                            <input type="text" class="form-control" id="place">
                        </div>
                        <div class="form-group">
                            <label for="district">Select District:</label>
                            <select class="form-control" id="district">
                                <option value="0">--Select--</option>
                                <option value="alappuzha">Alappuzha</option>
                                <option value="eranakulam">Eranakulam</option>
                                <option value="kollam">Kollam</option>
                                <option value="trissur">Trissur</option>
                            </select>
                        </div> 
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="cpwd">Confirm Password:</label>
                            <input type="password" class="form-control" id="cpwd">
                        </div>
                        <button type="button" onclick="register();" class="btn btn-primary">Submit</button>
                    </form> 
                </div>
                </div>
            </div>
      </section>

      <div class="container text-center">
            <h2>What we offer</h2>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="./img/blockchain.jpg" class="rounded" width="50%">
                    </div>
                    <h4>Blockchain</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="./img/moodle.png" class="rounded" width="50%">
                    </div>
                    <h4>Moodle</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="./img/science.jpg" class="rounded" width="50%">
                    </div>
                    <h4>Data Science Anslysis</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                    </p>
                </div>
              </div>
              <br><br>

            <div class="row">
                 <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="./img/r.png" class="rounded" width="50%">
                    </div>
                    <h4>R Programming</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="./img/faculty.jpg" class="rounded" width="50%">
                    </div>
                    <h4>Faculty Management</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="./img/it.jpg" class="rounded" width="50%">
                    </div>
                    <h4>It Training</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                    </p>
                </div>
            </div>

            <div class="row">
                    <div class="col-sm-4">
                       <div class="thumbnail">
                           <img src="./img/android.jpg" class="rounded" width="50%">
                       </div>
                       <h4>Android Training</h4>
                       <p>
                           It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                       </p>
                   </div>
                   <div class="col-sm-4">
                       <div class="thumbnail">
                           <img src="./img/other.jpg" class="rounded" width="50%">
                       </div>
                       <h4>Teachers Training</h4>
                       <p>
                           It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                       </p>
                   </div>
                   <div class="col-sm-4">
                       <div class="thumbnail">
                           <img src="./img/skill.jpg" class="rounded" width="50%">
                       </div>
                       <h4>Skill Development</h4>
                       <p>
                           It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                       </p>
                   </div>
               </div>
        </div><br>
        <div class="text-center">
            <a href="#top" class="btn btn-outline-info">Top</a>
        </div><br><br>