<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/main.css') }}" >
    <title>Home ICT</title>
</head>
<body class="test">
    <a href="./">Home</a>
    <a href="./register/">Register</a>
    <a href="./about/">About</a>
    <h1>Welcome ICT Kerala</h1>
    <p>sgdghws jisdfiooidf iedfioewopid hjeauhdfeiuod</p>
</body>
</html>